<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet2Ques3andServlet3Ques2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ErrorServlet</display-name>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>p1.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/ErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>p1.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>p1.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicList</display-name>
    <servlet-name>TopicList</servlet-name>
    <servlet-class>p1.TopicList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicList</servlet-name>
    <url-pattern>/TopicList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayList</display-name>
    <servlet-name>DisplayList</servlet-name>
    <servlet-class>p1.DisplayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayList</servlet-name>
    <url-pattern>/DisplayList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicController</display-name>
    <servlet-name>TopicController</servlet-name>
    <servlet-class>p1.TopicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicController</servlet-name>
    <url-pattern>/TopicController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateAndTime</display-name>
    <servlet-name>DateAndTime</servlet-name>
    <servlet-class>p1.DateAndTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateAndTime</servlet-name>
    <url-pattern>/DateAndTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Threading</display-name>
    <servlet-name>Threading</servlet-name>
    <servlet-class>p1.Threading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Threading</servlet-name>
    <url-pattern>/Threading</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>String</display-name>
    <servlet-name>String</servlet-name>
    <servlet-class>p1.String</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>String</servlet-name>
    <url-pattern>/String</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StringAndBuffer</display-name>
    <servlet-name>StringAndBuffer</servlet-name>
    <servlet-class>p1.StringAndBuffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StringAndBuffer</servlet-name>
    <url-pattern>/StringAndBuffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuestion</display-name>
    <servlet-name>InsertQuestion</servlet-name>
    <servlet-class>p1.InsertQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuestion</servlet-name>
    <url-pattern>/InsertQuestion</url-pattern>
  </servlet-mapping>
</web-app>